.title {
  font-weight: 600;
  font-size: 230%;
}
.hero {
  display: flex;
}
.hero--image {
  width: 58%;
  object-fit: contain;
  align-self: flex-start;
}
.hero--text {
  p {
    line-height: 1.6;
    opacity: 0.4;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 40px;
  }
  a{
      text-decoration: none;
      color: black;
      letter-spacing: 10px;
  }
  padding: 5rem 5rem;
}
