@import './button.scss';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
body,
#root{
  margin: 0;
    height: 100%;
    font-family: 'Spartan', sans-serif;
}

* {

  box-sizing: border-box;
}
.contr {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contr--screen{
    height: 100vh;
    min-height: 650px;
}
